

<script src="./js/index.js"></script>
<script src="/src/index.js"></script>
<footer class="footer">
    <hr>
    <!-- <div class="footer"> -->
        <i class="social-icon fa-brands fa-facebook"></i>
        <i class="social-icon fa-brands fa-instagram"></i>
        <i class="social-icon fa-solid fa-envelope"></i>
        <p>@ <%=year%> | vitaSpace</p>
    <!-- </div> -->
</footer>
<!-- <script src="/src/index.js"></script> -->
</body>
</html>