<%- include("partials/header") -%>

    <h1>Hello, here is about page</h1>

<section id="about">
    <h1>My name is Foster, </h1>
        <img class="about-img" src="img\istockphoto-1410898016-170667a.jpg" alt="">
        <p>Proud to have you here.</p>
</section>
    
<%- include("partials/footer") -%>