<%- include("partials/header"); -%>
<h1>Compose a message and we are ready to help you out!</h1>

<form action="/compose" method="post">

    <div class="form-group">
        <label for="">Title</label>
        <br>
        <input class="form-control" type="text" name="postTitle" placeholder="Kindly send us your name">
        <br>
        <label for="">Post</label>
        <br>
        <textarea class="form-control" name ="postBody" rows="6" cols="30" name="newMessage"></textarea>
        <br>
        <button class="btn btn-blue" type="submit" name="compose" >Publish</button>
    </div>

</form>

<%- include("partials/footer"); -%>