<%- include("partials/header") -%>

<div class="box">
<div class="box-title">
    <h1>Post by: <%= title %> </h1>
</div>
<div class="box-content">
    <p> <%= content %> </p>
</div>
</div>

<%- include("partials/footer") -%>