<%- include("partials/header") -%>

        <!-- <img src="img/food-img-1.jpeg" alt="Image 1"> -->
        <h1>Get some healthier meal <a href="https://fosteraddo.github.io/healthymeal/">here</a></h1>
        <img  src="img/burger-with-melted-cheese.webp" alt="Image 2">
        <h1> <a href="/"></a></h1>
        <!-- <img src="img/guitar-image.jpeg" alt="Image 3"> -->

        <!-- <div id="service">
                <form action="/sevice" method="post">
                    <input type="text" name="fName" placeholder="Enter your first name"><br>
                    <input type="text" name="fName" id="" placeholder="Enter your last name"><br>
                    <input type="text" name="email" id="" placeholder="Enter your email"><br>
                    <input type="submit" name="" id="" value="send">
                </form>
        </div> -->

<%- include("partials/footer") -%>