<%- include("partials/header") -%>

<div id="signup">
    <form action="/signup" method="post">
        <input type="text" name="fName" placeholder="Enter your first name"><br>
        <input type="text" name="fName" id="" placeholder="Enter your last name"><br>
        <input type="text" name="email" id="" placeholder="Enter your email"><br>
        <input type="submit" name="" id="" value="send">
    </form>
</div>

    
<%- include("partials/footer") -%>