<%- include("partials/header") -%>

<div id="login">
    <form action="/login" method="post">
        <input type="text" name="email" id="" placeholder="Enter your email"><br>
        <input type="submit" name="" id="" value="send">
    </form>
</div>

    
<%- include("partials/footer") -%>